.kdev4
grive.kdev4
.DS_Store
.project
.cproject
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
grive/CMakeFiles/
grive/Makefile
grive/cmake_install.cmake
grive/grive
libgrive/CMakeFiles/
libgrive/Makefile
libgrive/btest
libgrive/cmake_install.cmake
libgrive/libgrive.a
install_manifest.txt
